h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5;
}



.navbar {
  background-color: #010020;
}

/* BANNER */



#banner {
  background-color: #010020;
  color: #ffffff;
  padding: 100px 0 70px 0;
}


#banner img {
  width: 100%;
}

.btn-banner {
  margin: 8% 3% 5% 0;
}

#features {
  background-color: #010020;
  color: #ffffff;
  padding: 10% 5%;
}

#features img {
  width: 100%;
}

