h1,
h2,
h3,
h4,
h5 {
  line-height: 1.5;
}

/* NAVBAR */

.navbar {
  background-color: #010020;
}

.nav-link {
  color: #fff;
}

/* BANNER */


#banner {
  background-color: #010020;
  color: #ffffff;
  padding: 100px 0 70px 0;
}


#banner img {
  width: 100%;
}

.btn-banner {
  margin: 8% 3% 5% 0;
}

#features {
  background-color: #010020;
  color: #ffffff;
  padding: 10% 5%;
}

#features img {
  margin-bottom: 10px;
  width: 200px;
  display: inline-block;
}

#testemunho {
  background-color: #f3f3f3;
  color: #323338;
  padding: 7% 15%;
  text-align: center;
}

#testemunho img {
  border-radius: 50%;
  width: 10%;
  margin: 20px;
}

#grafo{
  color: #ffbf01;
}